.mr-5 {
	margin-right: 5px;
}

.tech-icon {
	 height: 80px!important;
}

.intro-small-img {
	padding-top: 100px;
}

.chart {
	/*position: relative;*/
	width:100%;
	height: 500px;
}

.chart canvas {
	position: absolute;
}

.ocean {
	background-image: url(../images/ocean.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}
