/* dosis-regular - latin */
@font-face {
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/dosis-v6-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Dosis Regular'), local('Dosis-Regular'),
	url('../fonts/dosis-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/dosis-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/dosis-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('../fonts/dosis-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/dosis-v6-latin-regular.svg#Dosis') format('svg'); /* Legacy iOS */
}
/* dosis-300 - latin */
@font-face {
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/dosis-v6-latin-300.eot'); /* IE9 Compat Modes */
	src: local('Dosis Light'), local('Dosis-Light'),
	url('../fonts/dosis-v6-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/dosis-v6-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/dosis-v6-latin-300.woff') format('woff'), /* Modern Browsers */
	url('../fonts/dosis-v6-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/dosis-v6-latin-300.svg#Dosis') format('svg'); /* Legacy iOS */
}
/* dosis-700 - latin */
@font-face {
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/dosis-v6-latin-700.eot'); /* IE9 Compat Modes */
	src: local('Dosis Bold'), local('Dosis-Bold'),
	url('../fonts/dosis-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/dosis-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/dosis-v6-latin-700.woff') format('woff'), /* Modern Browsers */
	url('../fonts/dosis-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/dosis-v6-latin-700.svg#Dosis') format('svg'); /* Legacy iOS */
}
